

.relative {
  position: relative;
  border: 1px solid black;
  width: 150px;
  text-align: center;

  .absolute {
    background-color: white;
    position: absolute;
    transition: 500ms;
    left: -1px;
    width: 152px;

    .absolute_item {
      border: 1px solid black;

    }
    s.absolute_itemHover {
      color: white;
      background-color: darkblue;
    }
  }
}

.button {
  padding-top: 20px;
}